@import '_variables';
@import '_mixins';

input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;

  &:focus {
    outline: none;

    &::-ms-fill-lower {
      background: $blue;
    }

    &::-ms-fill-upper {
      background: $blue2;
    }

    &::-webkit-slider-runnable-track {
      background: $blue2;
    }
  }

  @include range-track-vendors;

  @include range-thumb-vendors;

  &::-ms-fill-lower {
    background: $blue3;
    border: 0.2px solid $almost-black;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px $black, 0px 0px 1px $gray;
  }

  &::-ms-fill-upper {
    background: $blue;
    border: 0.2px solid $almost-black;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px $black, 0px 0px 1px $gray;
  }

}
